.blurContainer {
  position: relative;
  transition: filter 0.2s ease-in-out; /* Apply transition to the filter property */
}

.blurActive {
  /* overflow: hidden; */
  filter: blur(5px);
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Apply an alpha fade effect */
.blurActive::after {
  content: "";
  background: rgba(255, 255, 255, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 80;
}
